### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [ ]:
ventas_tienda = int(tienda['Precio'].sum())
ventas_tienda2 = int(tienda2['Precio'].sum())
ventas_tienda3 = int(tienda3['Precio'].sum())
ventas_tienda4 = int(tienda4['Precio'].sum())

print(f"Ventas tienda 1: ${ventas_tienda:,.2f}")
print(f"Ventas tienda 2: ${ventas_tienda2:,.2f}")
print(f"Ventas tienda 3: ${ventas_tienda3:,.2f}")
print(f"Ventas tienda 4: ${ventas_tienda4:,.2f}")

Ventas tienda 1: $1,150,880,400.00
Ventas tienda 2: $1,116,343,500.00
Ventas tienda 3: $1,098,019,600.00
Ventas tienda 4: $1,038,375,700.00

# 2. Ventas por categoría

In [ ]:
lista_tienda = tienda.to_dict(orient = 'records')
lista_tienda2 = tienda2.to_dict(orient = 'records')
lista_tienda3 = tienda3.to_dict(orient = 'records')
lista_tienda4 = tienda4.to_dict(orient = 'records')

lista_tiendas = [lista_tienda, lista_tienda2, lista_tienda3, lista_tienda4]

In [ ]:
for id, lista in enumerate(lista_tiendas, start=1):

  suma_categorias = {}

  for i in lista:
      categoria = i['Categoría del Producto']
      precio = float(i['Precio'])

      if categoria in suma_categorias:
        suma_categorias[categoria] += precio
      else:
        suma_categorias[categoria] = precio

  categorias_ordenadas = sorted(suma_categorias.items(), key=lambda x: x[1], reverse=True)

  print(f'\nLos precios por categoría para la tienda {id} son: ')
  for categoria, total in categorias_ordenadas:
      print(f'{categoria}: ${total:,.2f}')

Los precios por categoría para la tienda 1 son:
Electrónicos: $429,493,500.00
Electrodomésticos: $363,685,200.00
Muebles: $187,633,700.00
Instrumentos musicales: $91,299,000.00
Deportes y diversión: $39,290,000.00
Juguetes: $17,995,700.00
Artículos para el hogar: $12,698,400.00
Libros: $8,784,900.00

Los precios por categoría para la tienda 2 son:
Electrónicos: $410,831,100.00
Electrodomésticos: $348,567,800.00
Muebles: $176,426,300.00
Instrumentos musicales: $104,990,300.00
Deportes y diversión: $34,744,500.00
Juguetes: $15,945,400.00
Artículos para el hogar: $14,746,900.00
Libros: $10,091,200.00

Los precios por categoría para la tienda 3 son:
Electrónicos: $410,775,800.00
Electrodomésticos: $329,237,900.00
Muebles: $201,072,100.00
Instrumentos musicales: $77,380,900.00
Deportes y diversión: $35,593,100.00
Juguetes: $19,401,100.00
Artículos para el hogar: $15,060,000.00
Libros: $9,498,700.00

Los precios por categoría para la tienda 4 son:
Electrónicos: $409,476,100.00
Electrodomésticos: $283,260,200.00
Muebles: $192,528,900.00
Instrumentos musicales: $75,102,400.00
Deportes y diversión: $33,350,100.00
Juguetes: $20,262,200.00
Artículos para el hogar: $15,074,500.00
Libros: $9,321,300.00

# 3. Calificación promedio de la tienda

In [ ]:
calificacion_tienda1 = float(tienda['Calificación'].mean())
calificacion_tienda2 = float(tienda2['Calificación'].mean())
calificacion_tienda3 = float(tienda3['Calificación'].mean())
calificacion_tienda4 = float(tienda4['Calificación'].mean())

print(f"Calificación promedio tienda 1: {calificacion_tienda1:,.2f}")
print(f"Calificación promedio tienda 2: {calificacion_tienda2:,.2f}")
print(f"Calificación promedio tienda 3: {calificacion_tienda3:,.2f}")
print(f"Calificación promedio tienda 4: {calificacion_tienda4:,.2f}")

Calificación promedio tienda 1: 3.98
Calificación promedio tienda 2: 4.04
Calificación promedio tienda 3: 4.05
Calificación promedio tienda 4: 4.00

# 4. Productos más y menos vendidos

In [ ]:
def analizar_tienda(lista_tienda, nombre_tienda):

  productos = [fila["Producto"] for fila in lista_tienda if "Producto" in fila and fila["Producto"]]

  conteo = {}

  for producto in productos:
    if producto in conteo:
      conteo[producto] += 1
    else:
      conteo[producto] = 1

  producto_mas_vendido = None
  producto_menos_vendido = None
  cantidad_mas_vendida = 0
  cantidad_menos_vendida = None

  for producto, cantidad in conteo.items():
    if cantidad > cantidad_mas_vendida:
      cantidad_mas_vendida = cantidad
      producto_mas_vendido = producto

    if cantidad_menos_vendida is None or cantidad < cantidad_menos_vendida:
      cantidad_menos_vendida = cantidad
      producto_menos_vendido = producto

  print(f"{nombre_tienda}:")
  print(f"Producto más vendido: {producto_mas_vendido} con {cantidad_mas_vendida} unidades.")
  print(f"Producto menos vendido: {producto_menos_vendido} con {cantidad_menos_vendida} unidades.")

In [ ]:
for id, lista in enumerate(lista_tiendas, 1):
  nombre_tienda = f"Tienda {id}"
  analizar_tienda(lista, f"Tienda {id}")

Tienda 1:
Producto más vendido: Microondas con 60 unidades.
Producto menos vendido: Auriculares con micrófono con 33 unidades.
Tienda 2:
Producto más vendido: Iniciando en programación con 65 unidades.
Producto menos vendido: Juego de mesa con 32 unidades.
Tienda 3:
Producto más vendido: Kit de bancas con 57 unidades.
Producto menos vendido: Bloques de construcción con 35 unidades.
Tienda 4:
Producto más vendido: Cama box con 62 unidades.
Producto menos vendido: Guitarra eléctrica con 33 unidades.

In [ ]:
tiendas_total = []

for lista in lista_tiendas:
  tiendas_total.extend(lista)

analizar_tienda(tiendas_total, "Todas las tiendas")

Todas las tiendas:
Producto más vendido: Mesa de noche con 210 unidades.
Producto menos vendido: Celular ABXY con 157 unidades.

# 5. Envío promedio por tienda

In [ ]:
def calcular_envio_promedio(lista_tienda, nombre_tienda):
  envios = [fila["Costo de envío"] for fila in lista_tienda if "Costo de envío" in fila and fila["Costo de envío"]]
  envio_promedio = sum(envios) / len(envios)
  print(f"Costo de envío promedio de {nombre_tienda}: ${envio_promedio:,.2f}")

In [ ]:
for id, lista in enumerate(lista_tiendas, 1):
  nombre_tienda = f"Tienda {id}"
  calcular_envio_promedio(lista, f"Tienda {id}")

Costo de envío promedio de Tienda 1: $28,547.86
Costo de envío promedio de Tienda 2: $27,731.98
Costo de envío promedio de Tienda 3: $27,204.37
Costo de envío promedio de Tienda 4: $25,586.22